* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../img/background.png");
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  color: #5c5c5c;
  text-align: center;
  width: auto;
  height: 100vh;
}

.intro {
  position: absolute;
  top: 10em;
  left: 1rem;
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-align: center;
  width: 30em;
  align-items: center;
}
.intro h1 {
  font-family: "Courgette";
  font-size: 10vh;
  font-weight: "bold";
  color: #6f51dc;
  line-height: 1;
}
.intro p {
  margin-top: 30px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #575757;
}
.intro p a {
  text-decoration: none;
  font-weight: bold;
}

.logo {
  width: 20%;
}
.logo img {
  width: 12rem;
}

.main-nav {
  display: flex;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  text-align: right;
  color: #e7e7e7;
  background-color: #3061e7;
}

nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style-type: none;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 10px;
  font-weight: bold;
  margin-right: 7em;
}
nav ul li a {
  color: #858585;
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}
nav ul li a:hover {
  color: #ffffff;
  background: linear-gradient(0deg, rgb(134, 106, 200) 0%, rgb(79, 18, 222) 100%);
}
nav ul li .specialBtn {
  background: linear-gradient(0deg, rgb(134, 106, 200) 0%, rgb(79, 18, 222) 100%);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
nav ul li .specialBtn:hover {
  color: #6f51dc;
  background: #ffffff;
}

.slide {
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #333;
  color: #fff;
}

#about {
  background-color: #f8f8f8;
  padding: 50px 0;
  text-align: center;
}
#about h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}
#about .container {
  max-width: 800px;
  margin: 0 auto;
}
#about .container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
#about .container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  #about .container {
    padding: 0 30px;
  }
  #about img {
    margin-top: 30px;
  }
}

.servicios {
  background-color: rgb(32, 61, 224);
  background-image: url("../img/8102740.png");
  background-repeat: no-repeat, repeat;
  background-size: 100%;
  text-align: center;
  padding: 50px 0;
  width: auto;
  height: 90vh;
}
.servicios__titulo {
  margin-bottom: 50px;
}
.servicios__titulo h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e7e7e7;
  margin-bottom: 10px;
}
.servicios__titulo p {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}
.servicios__contenedor {
  width: 20%;
  margin-left: 20px;
}
.servicios__item {
  margin-bottom: 30px;
  padding: 30px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 36%, rgb(214, 214, 214) 100%);
  border-radius: 30px;
  border-top-right-radius: 10px;
  transition: all 0.3s ease;
  font-family: "Montserrat";
  font-weight: 500;
  color: #575757;
}
.servicios__item h2 {
  -webkit-text-stroke: 1px black;
  font-weight: "bold";
  color: #141414;
  color: transparent;
}
.servicios__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.servicios__item__icono {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.servicios__item__nombre {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}
.servicios__item__descripcion {
  font-size: 1rem;
  color: #666;
  height: 100%;
}

#skills {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;
}
#skills h2 {
  font-size: 3rem;
  margin-bottom: 60px;
}
#skills .container {
  max-width: 900px;
  margin: 0 auto;
}
#skills .container .skill {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 250px;
  margin: 30px auto;
  border-radius: 20%;
}
#skills .container .skill:before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: #6f51dc;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
#skills .container .skill:hover:before {
  transform: scale(2);
}
#skills .container .skill:after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: #5c5c5c;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
#skills .container .skill:hover:after {
  transform: scale(2);
}
#skills .container .skill i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
#skills .container .skill h3 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Montserrat";
  color: #6f51dc;
  transition: all 0.3s ease-in-out;
  animation: pulse 2s infinite;
}
#skills .container .skill p {
  font-family: "Montserrat";
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#projects {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}
#projects h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}
#projects .container {
  max-width: 800px;
  margin: 0 auto;
}
#projects .container .project {
  text-align: left;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
#projects .container .project:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
#projects .container .project h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
#projects .container .project p {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}
#projects .container .project img {
  max-width: 100%;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  #projects .project {
    padding: 20px;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.img_form, .contact_form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img_form {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -7em;
}

.img_form img {
  max-width: 100%;
}

.contact_form {
  z-index: 1;
  text-align: center;
  padding-top: 20px;
}
.contact_form h2 {
  text-align: end;
  margin-top: 10px;
  background-color: #3061e7;
  color: #ebebeb;
  padding-top: 7px;
  border-top-left-radius: 10px;
}

#contact {
  background: linear-gradient(90deg, rgb(255, 179, 0) 31%, rgb(255, 209, 99) 100%);
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}
#contact form {
  border-radius: 25px;
  border-top-right-radius: 0;
  background-color: #f5f5f5;
  width: 100%;
}
#contact form .form-group {
  margin-bottom: 20px;
  display: block;
  justify-content: center;
}
#contact form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 10px;
  color: #3f3f3f;
}
#contact form .form-group input,
#contact form .form-group textarea {
  color: #3f3f3f;
  width: 30vh;
  padding: 10px;
  font-size: 1.1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}
#contact form .form-group input:focus,
#contact form .form-group textarea:focus {
  border-color: #33c3f0;
  outline: none;
}
#contact form .form-group textarea {
  height: 150px;
  resize: none;
}
#contact form button[type=submit] {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ebebeb;
  background-color: #3061e7;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
#contact form button[type=submit]:hover {
  background-color: #858585;
}
@media screen and (max-width: 575px) {
  #contact {
    padding: 30px;
  }
  #contact h2 {
    font-size: 1.5rem;
  }
  #contact form {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 10px 0;
    margin-top: 30px;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    text-align: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
  }
  .logo img {
    width: 10rem;
  }
  .intro {
    position: static;
    width: 100%;
    padding-top: 40px;
    height: 78.1%;
  }
  .intro h1 {
    font-size: 50px;
  }
  .intro p {
    font-size: 25px;
    padding-bottom: 30px;
  }
  header {
    background-size: auto;
    background-image: url("../img/4861091.png");
  }
  .servicios {
    background-size: auto;
    background-image: url("../img/4721187.png");
  }
  .servicios__contenedor {
    width: auto;
    margin-left: 0;
    border-radius: 0;
  }
  .servicios__item {
    border-radius: 10px;
  }
  .servicios__titulo p {
    color: #b5ccf7;
  }
}

/*# sourceMappingURL=index.css.map */
