
$header-background-color: #222222;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}






.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $header-background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.836);

  &__logo img {
    height: 50px;
  }

  &__logo{
    border: 1px solid blue;
  }

  &__title{
    
    margin-left: 12em;
  }

  &__nav {
    
    ul {
      display: flex;
      gap: 1rem;
      list-style: none;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #000;
        background-color: #fff;
        border-radius: 5px;
        padding: 0.5rem;
      }
    }
  }
}







h1 {
  text-align: center;
  // font-size: 70px;
  font-family: 'Gruppo';
  font-weight:900;
  // color:#0055cc;

  animation: pulsateH1 1.5s infinite alternate;  
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #006aff,
    0 0 82px #006aff,
    0 0 92px #006aff,
    0 0 102px #006aff,
    0 0 151px #006aff;

}

@keyframes pulsateH1 {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #006aff,
      0 0 80px #006aff,
      0 0 90px #006aff,
      0 0 100px #006aff,
      0 0 150px #006aff;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #006aff,
    0 0 45px #006aff,
    0 0 55px #006aff,
    0 0 70px #006aff,
    0 0 80px #006aff;

}
}

h2{
  text-align: center;
  font-size: 70px;
  font-family: 'Gruppo';
  color:#0055cc;
}

p {
  line-height: 1.5;
}



/* Styles for about section */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.about-content {
  max-width: 600px;

  p{
    font-family: 'Montserrat';
  }

  #backgroundTextAbout{
    border-bottom: 3px 
    // opacity: 0.6;
    // background-repeat: no-repeat;
    // background-position: center;
    
  }
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p:first-of-type {
  margin-bottom: 20px;
}

.about-img {
  max-width: 500px;
  border-radius: 50%;
  overflow: hidden;
}

/* Styles for skills section */

.skills {
  margin-bottom: 80px;

  #skill-img{
    text-align: center;
    margin-bottom: 20px;
  }

}

.skills h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.skill-icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

.skill-icon img {
  max-width: 60%;
  max-height: 60%;
}

.skills li:hover {
  transform: scale(1.1);
}

.skill-icon:hover {
  background-color: #0077ff;
}

.skill-icon:hover img {
  filter: brightness(0) invert(1);
}

.skills p {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gruppo';
}

/* Styles for contact section */

.contact h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

#contact-form input,
#contact-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#submit-btn {
  background-color: #0077ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#submit-btn:hover {
  background-color: #0055cc;
}


/* Footer styles */

.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;

  &__logo {
    margin-bottom: 20px;
    text-align: center;
    img {
      height: 90px;
    }


  }

  &__social {
    margin-bottom: 20px;
    text-align: center;
  

    a {
      display: inline-block;
      margin-right: 10px;
      font-size: 24px;
      color: #fff;
    }
  }

  &__info {
    font-size: 14px;
    text-align: center;
   
    p {
     
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        margin-right: 10px;
        font-size: 20px;
      }
    }
   
  }

  &__name {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Gruppo';
    font-size: 20px;
  }


}




/*ANIMATION OF SLOGAN WDESIGNER*/
#imgDesigner {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: animationD;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#imgDesigner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: animationD-pulsar 2s ease-in-out alternate infinite;
}

@keyframes animationD {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes animationD-pulsar {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}



