// Colores
$color-primary: #ffffff;
$color-secondary: #6f51dc;
$color-light: #5c5c5c;
$color-dark: #858585;
$color-lightSecundary: #ebebeb;
$color-tertiary: #333;
$font-family:"Montserrat";
$lineal-gradient-button:linear-gradient(0deg, rgba(134,106,200,1) 0%, rgba(79,18,222,1) 100%);

// Tamaños
$font-size-base: 1rem;
$line-height-base: 1.5;

// Grid
$grid-columns: 12;
$grid-gutter: 10px;

// Clases para el encabezado
*{
 
  font-family:$font-family;
  margin: 0;
  padding: 0;
  
}



header {

  background-image: url("../img/background.png");
  background-repeat: no-repeat, repeat;
  background-size:100%;

  
  color: $color-light;

  text-align: center;

  width: auto;
  height:100vh;

  
 
}


.intro{

  position: absolute;
  top: 10em;
  left: 1rem;
  color: rgb(0, 0, 0);
  font-size: 24px;
  
  text-align: center;
  width: 30em;
  align-items: center;
 
  
  #imgCellphone{
    display: none;
  }
  
  h1{
    
    font-family: 'Courgette';
    font-size: 10vh;
    font-weight:'bold';
    color:$color-secondary;
  
    line-height: 1;

   
  }
  p{
    margin-top: 30px;
    font-family: $font-family;
    font-weight:400;
    

    a{

      font-weight: bold;
      
    }
    
  }

  
}

// Clases para el logo
.logo {

  // border: 1px solid yellow;
  width: 20%;

  img{
    width: 12rem;
  }
  

}

// Clases para el menú de navegación

.main-nav{
  display: flex;
  // border: 1px solid green;

}

.menu-toggle {
  display: none;
  font-size: 30px;
  text-align: right;
  color: #e7e7e7;
  background-color: #3061e7;

}


nav {
  
  ul {

    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type:none;
    width: 100%;


    

    list-style: none;
    margin: 0;
    padding: 0;
    // border: 1px solid red;


    li {

      margin: 0 10px;
      font-weight: bold;
      margin-right: 7em;
      
      a {
        
        color: $color-dark;
        text-decoration: none;

        &:hover {
          color: $color-primary;
          background: $lineal-gradient-button;
          
        }

        background-color: $color-primary;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;

        border-radius: 20px;
      }

      .specialBtn{
   
    
        background: $lineal-gradient-button;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        color:$color-primary;

        &:hover {
          color: $color-secondary;
          background: $color-primary;
          
          
        }
      }

      
    }
  }

  
}



.slide {
  display: block;
 
  width: 100%;
 
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #333;
  color: #fff;
}


#about {
  background-color: #f8f8f8;
  padding: 50px 0;
  text-align: center;

  h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    p {
      font-size: 1.2rem;
      line-height: 1.5;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    .container {
      padding: 0 30px;
    }

    img {
      margin-top: 30px;
    }
  }
}

.servicios {
  background-color: rgba(32,61,224,1);
  background-image: url("../img/8102740.png");
  background-repeat: no-repeat, repeat;
  background-size:100%;
  text-align: center;
  padding: 50px 0;

  width: auto;
  height: 90vh;
  

  &__titulo {
    margin-bottom: 50px;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #e7e7e7;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2rem;
      color: $color-tertiary;
      font-weight: bold;
    }
  }

  &__contenedor {

    width: 20%;
    margin-left: 20px;
   
  }

  &__item {
    // flex-basis: calc(33.33% - 20px);
  
   
    margin-bottom: 30px;
    padding: 30px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 36%, rgb(214, 214, 214) 100%);
    border-radius: 30px;

    border-top-right-radius: 10px;

    transition: all 0.3s ease;
    font-family: $font-family;
    font-weight:500;
    color:#575757;

    h2 {
      -webkit-text-stroke: 1px black;
      font-weight:'bold';
      color:#141414;
      color: transparent;
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &__icono {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    &__nombre {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 10px;
      color: $color-tertiary;
    }

    &__descripcion {
      font-size: 1rem;
      color: #666;height: 100%;
    }
  }
}










// Variables
$primary-color: #ff5a5f;
$secondary-color: #484848;
$font-family: 'Open Sans', sans-serif;

// Mixins
@mixin button-styles {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Animaciones
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Estilos
body {
  background-color: white;
  font-family: $font-family;
}

h1 {
  font-size: 2.5rem;
  color: $secondary-color;
  text-align: center;
  margin-top: 50px;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.service {
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
  animation: fadeIn 0.5s ease-in-out forwards;
  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
  }
}

.service__image {
  width: 100%;
  height: 150px;
  background-image: url('../images/service-image.jpg');
  background-size: cover;
  background-position: center;
}

.service__content {
  padding: 20px;
}















#skills {
  background-color: #f7f7f7;
  padding: 80px 0;
  text-align: center;

  h2 {
    font-size: 3rem;
    margin-bottom: 60px;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;

    .skill {
      position: relative;
      overflow: hidden;
      width: 350px;
      height: 250px;
      margin: 30px auto;
      border-radius: 20%;

      &:before {
        content: "";
        position: absolute;
        top: -50px;
        left: -50px;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background: $color-secondary;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
      }

      &:hover:before {
        transform: scale(2);
      }

      &:after {
        content: "";
        position: absolute;
        bottom: -50px;
        right: -50px;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background: $color-light;
        transform: scale(0);
        transition: all 0.3s ease-in-out;
      }

      &:hover:after {
        transform: scale(2);
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 7rem;
        color: #fff;
        transition: all 0.3s ease-in-out;
      }

      h3 {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: bold;
        font-family: $font-family;
        color: $color-secondary;
        transition: all 0.3s ease-in-out;
        animation: pulse 2s infinite;
      }
      p{
        font-family: $font-family;
      }

      @keyframes pulse {
        0% {
          transform: scale(1);
          
        }
        50% {
          transform: scale(1.1);
        
        }
        100% {
          transform: scale(1);
         
        }
      }
    }
  }
}


#projects {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;

  h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;

    .project {
      text-align: left;
      padding: 30px;
      margin-bottom: 30px;
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: translateY(-10px);
      }

      h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 1.5rem;
      }

      p {
        margin-bottom: 0;
        font-size: 1.2rem;
        line-height: 1.5;
      }

      img {
        max-width: 100%;
        border-radius: 5px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .project {
      padding: 20px;
    }
  }
}





.container {
  position: relative;
  display: flex;
  flex-direction: column;

 

}

.img_form, .contact_form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img_form {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -7em;
}

.img_form img {
  max-width: 100%;
  // border: 1px solid pink;

}

.contact_form {
  z-index: 1;
  // border: 1px solid blue;
  text-align: center;
  padding-top: 20px;

  h2{
    text-align: end;
    margin-top: 10px;
    background-color: #3061e7;
    color:$color-lightSecundary;
    padding-top: 7px;
    border-top-left-radius: 10px;
  }

}






#contact {//father
  background: linear-gradient(90deg, rgb(255, 179, 0) 31%, rgba(255,209,99,1) 100%);
  width: auto;
  height: 100vh;

display: flex;
  justify-content: center;
  align-items: center;

  
  

  h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  

  form {//son

    // padding: 100px;

    border-radius: 25px;
    border-top-right-radius: 0;
    background-color: #f5f5f5;
    width: 100%;
    

    .form-group {
      margin-bottom: 20px;

      display:block;
      justify-content: center;
   
   
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 1.1rem;
        font-weight: 600;
        padding-top: 10px;
        color:#3f3f3f;
        
 
      }

      input,
      textarea {
        
        // display: block;
        color:#3f3f3f;
        width: 30vh;
        padding: 10px;
        font-size: 1.1rem;
        border: 2px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease-in-out;

        &:focus {
          border-color: #33c3f0;
          outline: none;
        }
      }

      textarea {
        
        height: 150px;
        resize: none;
      }
    }

    button[type="submit"] {
      display: inline-block;
      padding: 10px 20px;
      font-size: 1.1rem;
      font-weight: 600;
      color: $color-lightSecundary;
      background-color: #3061e7;
      border: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      transition: background-color 0.3s ease-in-out;
      

      &:hover {
        background-color: $color-dark;
      }
    }
  }

  @media screen and (max-width: 575px) {
    padding: 30px;

    h2 {
      font-size: 1.5rem;
    }

    form {
      max-width: 100%;
    }
  }
}


@media (max-width: 900px) {



  nav {
    flex-direction: column;
  }

  nav {
    ul {
      display: none;
      flex-direction: column;
      align-items: center;
     
    }
  }

  nav
   ul{
    li {
      margin: 10px 0;
      margin-top: 30px;
    }
   } 
  

  .menu-toggle {
    display: block;
    cursor: pointer;
    text-align: center;
  }

  .logo{
    display: flex;
    justify-content: center;
    width: 100%;
    img{
      width: 10rem;
    }
    background-color: #ffffff;
  }

  .intro{
    position:static;
    

    width: 100%;
    // margin-top: 40px;
    padding-top: 40px;
    height: 78.1%;

    
    
    
    #imgCellphone{
      display: inline;
    }
    

    h1{
      font-size: 50px;
      text-shadow: 1px  0px 0px rgb(231, 231, 231),
               0px  1px 0px rgb(231, 231, 231),
              -1px  0px 0px rgb(231, 231, 231),
               0px -1px 0px rgb(231, 231, 231);
    }
    p{
      font-size: 25px;
      padding-bottom: 30px;
      color:#f3f3f3;
      a{
        color:#ffffff;
      }
    }
  }

  header{
    // background-image: none;
  background-size:cover;
  background-image: url("../img/6927689.jpg");
  background-repeat:repeat;



  }

  .servicios {
    background-size:auto;
    background-image: url("../img/4721187.png");
   

    &__contenedor{
      width: auto;
      margin-left: 0;
      border-radius:0;
    }
    &__item{
      border-radius: 10px;
    }

    &__titulo{
      p{
        color: #b5ccf7;
      }
    }
  }
}