
//------------variables--------------------
$clr-main: #09aff4;
$clr-main-rgb: 9, 175, 244;
$clr-accent: #0d1857;
$clr-accent-rgb: 13, 24, 87;
$clr-secondary: #4820a7;
$clr-secondary-rgb: 72, 32, 167;
$clr-white: #fff;
$clr-white-rgb: 255, 255, 255;
$clr-black: #121212;
$clr-black-rgb: 18, 18, 18;
$clr-grey: #f1f1f1;
$clr-grey-rgb: 241, 241, 241;
$clr-semi-dark: #b8b8b8;
$clr-semi-dark-rgb: 184, 184, 184;
$clr-dark-grey: #4d4d4d;
$clr-dark-grey-rgb: 77, 77, 77;
$clr-extra-dark-grey: #202020;
$clr-extra-dark-grey-rgb: 32, 32, 32;
$clr-dark-blue: #060922;
// $clr-dark-blue-rgb: 6, 9, 34;
$clr-dark-blue-red: 6;
$clr-dark-blue-green: 9;
$clr-dark-blue-blue: 34;
$clr-semi-dark-blue: #000531;
$clr-semi-dark-blue-rgb: 0, 5, 49;
$clr-danger: #fc0000;
$clr-danger-rgb: 252, 0, 0;
$clr-success: #217234;
$clr-success-rgb: 33, 114, 52;
$clr-warning: #9b6a01;
$clr-warning-rgb: 155, 106, 1;
$ltr-main-font-f: "Jost", "sans-serif";
$rtl-main-font-f: "Tajawal", "sans-serif";
//---------------Swiper-bundle.min------------------------
$swiper-navigation-size: 44px;
//---------------Swiper-bundle.min------------------------
$swiper-theme-color: #007aff;
//---------------animate--------------------------
$animate-duration: 1s;
$animate-delay: 1s;
$animate-repeat: 1;
//------------------_root-----------------------
$bs-blue: #0d6efd;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-gray-100: #f8f9fa;
$bs-gray-200: #e9ecef;
$bs-gray-300: #dee2e6;
$bs-gray-400: #ced4da;
$bs-gray-500: #adb5bd;
$bs-gray-600: #6c757d;
$bs-gray-700: #495057;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;
$bs-primary: #0d6efd;
$bs-secondary: #6c757d;
$bs-success: #198754;
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545;
$bs-light: #f8f9fa;
$bs-dark: #212529;
$bs-primary-rgb: 13,110,253;
$bs-secondary-rgb: 108,117,125;
$bs-success-rgb: 25,135,84;
$bs-info-rgb: 13,202,240;
$bs-warning-rgb: 255,193,7;
$bs-danger-rgb: 220,53,69;
$bs-light-rgb: 248,249,250;
$bs-dark-rgb: 33,37,41;
$bs-white-rgb: 255,255,255;
$bs-black-rgb: 0,0,0;
$bs-body-color-rgb: 33,37,41;
$bs-body-bg-rgb: 255,255,255;
$bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$bs-body-font-family: var(--bs-font-sans-serif);
$bs-body-font-size: 1rem;
$bs-body-font-weight: 400;
$bs-body-line-height: 1.5;
$bs-body-color: #212529;
$bs-body-bg: #fff;

* {

  &::after, ::before{
    box-sizing: border-box;
  }
  

  &::selection{
    background: $clr-main;
    color: $clr-white;
  }

}


body {

  margin:0;
  font-size: $bs-body-font-size;
  font-weight: $bs-body-font-weight;
  line-height: $bs-body-line-height;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  font-family: $ltr-main-font-f;
  direction: ltr;
  text-align: left;
  position: relative;
  color: $clr-dark-blue;
  background: $clr-white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 0.25s ease-in-out 0s;
}

header-basic{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid transparent;
}

.header-search-box {
  position: fixed;
  top: 0;
  left: 0;
  // #{$start-direction}: 0;
  width: 100%;
  height: 0;
  background-color: rgba($clr-dark-blue-red,$clr-dark-blue-green,$clr-dark-blue-blue, 0.95);
  //rgba($clr-dark-blue-rgb, 0.95)
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out 0s;
  // @include ma-transition;
  z-index: 1200;

  &.show{
    height: 100%;
    visibility: visible;
    opacity: 1;

    .search-form {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    
  }

  .close-search {
    position: absolute;
    // #{$end-direction}: 25%;
    top: 25%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // background-color: $clr-main;

    &:before,
    &::after {
      content: "";
      height: 2px;
      width: 40px;
      background-color: $clr-white;
      display: block;
      transform-origin: center;
    }

    &:before {
      transform: rotate(45deg) translateX(2px);
    }

    &:after {
      transform: rotate(-45deg) translateX(1px);
    }

    // @include screen-sm {
    //   #{$end-direction}: 5%;
    // }
  }


  .search-form {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateY(5rem);
    // @include ma-transition;
    transition: all 0.5s ease-in-out 0s;//es la declaracion de arriba
    transition-delay: 0.25s;
    width: 50%;

    // @include screen-lg {
    //   width: 50%;
    // }

    // @include screen-sm {
    //   width: 80%;
    // }

    .search-lbl {
      visibility: hidden;
      opacity: 0;
      width: 0;
      position: absolute;
      // #{$start-direction}: 9999999px;
      left: 9999999px;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    .search-input {
      border: none;
      border-bottom: 2px solid $clr-main;
      font-size: 2.5rem;
      outline: none;
      color: $clr-white;
      background-color: transparent;
      width: 100%;

      // @include screen-sm {
      //   font-size: 1.5rem;
      // }
    }

    .search-btn {
      // -webkit-appearance: none;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // #{$end-direction}: 1.25rem;
      // #{$start-direction}: auto;
      right: 1.25rem;//es de arriba
      left: auto;//es de arriba
      outline: none;
      border: none;
      background: transparent;
      color: $clr-main;
      font-size: 1.5rem;
    }
  }
  

  

  
}

form {
  display: block;
  margin-top: 0em;
}

label {
  display: inline-block;
}

input{
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}

button{
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  padding: 1px 6px;
}