// Variables
// Colores
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-light: #f8f9fa;
$color-dark: #343a40;

// Tamaños
$font-size-base: 1rem;
$line-height-base: 1.5;



// Clases para el encabezado
header {
  background-color: $color-secondary;
  color: $color-light;
  padding: $font-size-base $font-size-base * 2;
  text-align: center;
}

// Clases para el logo
.logo {
  font-size: $font-size-base * 1.5;
}

// Clases para el menú de navegación
nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 $font-size-base;
      a {
        color: $color-dark;
        text-decoration: none;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

// Clases para el botón de búsqueda
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  input[type="text"] {
    border: none;
    border-bottom: 2px solid $color-dark;
    padding: $font-size-base;
    font-size: $font-size-base;
    width: 0;
    transition: width 0.3s ease-in-out;
    &::placeholder {
      color: $color-secondary;
    }
    &:focus {
      width: 200px;
      outline: none;
    }
  }
  button {
    background-color: $color-dark;
    border: none;
    color: $color-light;
    padding: $font-size-base;
    font-size: $font-size-base;
    cursor: pointer;
    &:hover {
      background-color: $color-secondary;
    }
  }
}

@media (max-width: 575px) {
  .logo {
    font-size: $font-size-base 
  }
}